@page
@model IndexModel
@{
    ViewData["Title"] = "BONTIN";
    ViewData["UserId"] = Model.UserId + " - 로그아웃";
}

<div id="home-wrapper">
    <div id="tasks" class="container">
        <select id="select" class="custom-select mb-2" onchange="changeShow()">
            <option value="all">모두 보기</option>
            <option value="done">완료</option>
            <option value="undone" selected="selected">미완</option>
        </select>
        @{ int index = 0; }
        @foreach (var subject in Model.Subjects)
        {
            List<Models.Task> taskGroup = Model.Tasks.ToList().FindAll(task => task.SubjectId == subject.SubjectId && task.Deadline.AddDays(7) >= DateTime.Today);
            @if (taskGroup.Count == 0)
                continue;
                <div class="container p-0">
                    <div class="alert alert-info mb-2 subject-name">@subject.Name</div>
                    @foreach (var task in taskGroup)
                    {
                        string headerClass = "card-header";
                        if (task.Deadline <= DateTime.Today.AddDays(1))
                            headerClass += " urgent";
                        <div class="card">
                            <div class="@headerClass">
                                <div class="card-title m-0">@task.Summary</div>
                                <div class="custom-control custom-checkbox">
                                    <input id="task-@task.TaskId" class="custom-control-input" type="checkbox" name="name" value="" onclick="toggleTaskDone(@(index++), @task.TaskId)" @(Model.GetDoneTaskId().Contains(task.TaskId) ? "checked" : "") />
                                    <label class="custom-control-label" for="task-@task.TaskId"></label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-text">@task.Content</div>
                                <div class="card-text">@(task.Deadline.Month)월 @(task.Deadline.Day)일 검사</div>
                            </div>
                        </div>
                    }
                </div>
        }
        @if (index == 0)
        {
            <div class="alert alert-info mb-2 subject-name">None</div>
        }

    </div>

    <div id="notice" class="card">
        <div class="card-header">
            <div class="card-title m-0">@DateTime.Today.DayOfWeek </div>
        </div>
        <div class="card-body">

        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/tasks.js"></script>
}